@import 'bsVariables';
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

html, body{
    @media (min-width: $screen-md-min){
        min-height:100%;
        max-height:100%;
        height:100%;
        overflow:hidden;
    }
}

label{
    margin-right:5px;
}
.caret{
    margin-left:5px !important;
}
.row{margin-bottom:20px}

.buttonDiv{
    @media (max-width: $screen-sm-max){
        text-align:center;
        button{margin-top:15px;}
    }
    button{
        margin-top:5px;
        margin-bottom:5px;
        @media (max-width: $screen-sm-max){width:60%;}
        @media (min-width: $screen-md-min){width:95%;}
    }
}

.resultsDiv{
    overflow-x: hidden;
    overflow-y: auto;
}

.resultsTable{
    text-align: center;
    height:450px;
    overflow-x:hidden;
    overflow-y: scroll;

    // float:left;
    // width:59%;
}
// .wrapper{
    // position: absolute;
    // width: 100%;
// }
.downloadPanel{
    // float:right; 
    // width:39%;
    text-align: left;
    label{width: 100%; text-align:center}
    button{margin-top:5px; margin-right:5px; margin-bottom:3px; width:32%}
}

.loaderWrapper{
    width: 100%;
    text-align: center
}

.loader{
    z-index: -10;
    visibility: hidden;
}

.tableImage{
    height: 2em;
    
    transform:scale(1);
    transition: all 0.5s ease-out;

    &:hover{
        transform-origin: 80% bottom;
        transform: scale(5);
    }
}


th{text-align:center}

.upper{height:70%; overflow:scroll}
.lower{height:30%}


::-webkit-scrollbar{
    background: transparent;
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background: #C1C1C1;
    border-radius: 20px;
}
